.button-verde {
    background-color: rgba(216, 255, 75, 0.945);
    border: none;
    width: 10em;
    height: 3em;
    color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.h2-componente {
    height: 1em;
    color: rgba(0, 0, 0, 0.726);
}

.img-span {
    font-size: 4em;
    position: relative;
    top: 7px;
}
