header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 600px;
    padding: 10px;
}

nav {
    display: flex;
    gap: 120px;
    margin-right: 600px;
    align-items: flex-end;
}

nav a {
    text-decoration: none;
    font-size: 1.7em;
    font-family: sans-serif;
    font-weight: 500;
    color: rgb(248, 239, 239);
    white-space: nowrap;
    transition: font-weight 1s ease;
}

nav a:hover {
    font-weight: 600;
}


img  {
height: 5em;
width: 7em;
position: relative;
left: 400px;
top: 20px;
}