* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.div-pai {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  margin-top: 100px;
  margin-left: 150px;
}

.box-branca {
  width: 30em;
  height: 2.3em;
  color: rgba(250, 246, 246, 0.908);
  background-color: rgba(255, 255, 255, 0.274);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 250px;
}

.home-ball {
  background-color: greenyellow;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.h1-home {
  font-size: 80px;
}

.home-title {
  font-size: 2em;
}

.home-p {
  font-size: 30px;
}

.home-buttons {
  display: flex;
  gap: 30px;
}

.home-botao {
  width: 15em;
  height: 2.8em;
  border-radius: 30px;
  border: none;
  background-color: rgba(255, 255, 255, 0.459);
}

.home-h6 {
  font-size: 20px;
  color: rgb(232, 223, 223);
}