*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.div-maior{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 250px;
    left: 300px;
}

.h1-login{
    font-size: 8em;
    font-family: sans-serif;
}

.div-campos-login {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    left: 800px;
    font-size: 1.5em;
}

.login-input {
    width: 20em;
    height: 1em;
}


.box-branca-login {
  width: 25em;
  height: 3.1em;
  color: rgba(250, 246, 246, 0.908);
  background-color: rgba(255, 255, 255, 0.274);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.home-ball {
  background-color: greenyellow;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.login-title {
    font-size: 1.2em;

}

p {
    font-size: 1.5em;
    font-family: sans-serif;
}

.campos-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}