* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#default {
    position: absolute;
    background-color: rgb(223, 223, 223);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    max-width: 1000vh;
    width: 100%;
    height: auto;
    padding: 30px;
}

#user-head {
    display: flex;
    gap: 30px;
    padding: 25px 25px;
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
    border: 5px;
    margin-bottom: 30px;
}

.big-text {
    position: relative;
    top: 10px;
    right: 5px;
    color: black;
}

.bio {
    color: rgb(0, 0, 0);
    font-size: 10px;
}

#edit-btn {
    width: 12vw;
    border-radius: 10px;
    background-color: rgb(35, 201, 192);
    margin-right: 10px;
}

#more-info-btn {
    width: 12vw;
    border-radius: 10px;
    background-color: rgb(35, 201, 192);
    margin-right: 10px;
}

#img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
}

#personal-info {
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    padding: 25px;
    border-radius: 20px;
    width: 47vw;
    height: 100%;

}

#info-header {
    display: flex;
    align-items: center;
    gap: 50px;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    margin-left: 30px;
}

#line {
    display: flex;
    align-self: center;
    background-color: rgb(228, 228, 228);
    border: none;
    width: 45vw;
    border: none;
    height: 0.1px;
}

#info-data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* sempre 2 por linha */
    column-gap: 500px;
    /* espaço entre as colunas */
    row-gap: 50px;
    /* espaço entre as linhas */
    padding: 15px;
}


#data-field {
    width: 100%;
}

#user-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#info-historic {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}

#delete {
    display: flex;
    justify-content: end;
    margin-top: 190px;
    padding: 25px;
}

#delete-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 5vh;
    background-color: rgba(241, 241, 241, 0.904);
    color: black;
}

#delete-btn:hover {
    background-color: rgba(255, 0, 0, 0.671);
    color: white;
}