.input {
    background-color: aqua;
}

#search-input{
    width: 100%;
    z-index: 9999;
    background-color: transparent;
    padding: 10px;
    background: transparent;
    border: 0;
    outline: none;
}